<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Add a question</title>
</head>
<body>


<div class="container">
    <h1>Add questions</h1>
    <form th:object="${questions}" th:action="@{save}" action="#" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" class="form-control"/>
            <label for="question">Question</label>
            <input class="form-control" type="text" id="question" th:field="*{question}" />
            <div style="clear: both; display: block; height: 10px;"></div>
        </div>
        <input class="btn btn-success" type="submit" value="Save"/>

    </form>
</div>
</body>
</html>


