<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Questions</title>

</head>
<body>

<div class="container">
    <h1>Edit questions</h1>
    <form th:object="${}" th:action="@{../save}" action="#" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{}" class="form-control"/>
            <label for="title">title</label>
            <input class="form-control" type="text" id="title" th:field="*{}" />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="author">author</label>
            <input class="form-control" type="text" id="author" th:field="*{}" />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="isbn">isbn</label>
            <input class="form-control"  type="text" id="isbn" th:field="*{}" />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="year">year</label>
            <input class="form-control" type="text" id="year" th:field="*{}" />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="price">price</label>
            <input class="form-control" type="number" step="0.01" id="price" th:field="*{}" />
            <div style="clear: both; display: block; height: 10px;"></div>

            <label for="catlist">Category</label>
            <select id="catlist" th:field="*{}" class="form-control">
                <option th:each="category: ${}" th:value="${}" th:text="${}"></option>
            </select>



        </div>
        <input class="btn btn-success" type="submit" value="Save"/>

    </form>
</div>
</body>
</html>