<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Questions</title>

</head>
<body>

<div class="container">
    <h1>Edit questions</h1>
    <form th:object="${question}" th:action="@{../save}" action="#" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{questionid}" class="form-control"/>
            <label for="question">t</label>
            <input class="form-control" type="text" id="question" th:field="*{question}" />
            <div style="clear: both; display: block; height: 10px;"></div>
        </div>
        <input class="btn btn-success" type="submit" value="Save"/>
        <div style="clear: both; display: block; height: 10px;"></div>
    </form>
    <form th:object="${value}" th:action="@{../save}" action="#" method="post">
            <input type="hidden" th:field="*{id}" class="form-control"/>
        <div class="form-group">
            <label for="value"></label>
            <select type="text" id="value" th:field="*{value}">
                <option th:each="value: ${value}" th:value="${value}">
                 </option>
            </select>
        </div>
        <div style="clear: both; display: block; height: 10px;"></div>
            <label for="value"></label>
            <input class="form-control" type="text" id="value" th:field="*{option1}" />
        <div style="clear: both; display: block; height: 10px;"></div>
            <label for="value"></label>
            <input class="form-control" type="text" id="value" th:field="*{option2}" />
        <div style="clear: both; display: block; height: 10px;"></div>
            <label for="value"></label>
            <input class="form-control" type="text" id="value" th:field="*{option3}" />
        <div style="clear: both; display: block; height: 10px;"></div>
            <label for="value"></label>
            <input class="form-control" type="text" id="value" th:field="*{option4}" />
            <div style="clear: both; display: block; height: 10px;"></div>
        </div>
    </form>
</div>
</body>
</html>