<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions</title>
</head>
<body>
    <h1>Create Questions</h1>
    <table class="table table-striped">
        <tr>
            <th>Question</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="question : ${questions}">
            <td th:text="${question.question}"></td>
            <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${question.questionid})}">Delete</a></td>
            <td><a class="btn btn-success" th:href="@{/edit/{id}(id=${question.questionid})}">Edit</a></td>
        </tr>
    </table>
    <a class="btn btn-success" href="/add">Add question</a>
</body>
</html>

